__pycache__/
*.py[cod]
.pytest_cache/
.venv/
*.exe
.text
.rdata
.data
.pdata
.reloc
reference/
third_party_reference/
research/reference/
native/*.pyd
native/*.lib
native/*.exp
native/*.pdb
KerMPNative.obj
